<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { pageTitle: "Eikon | Login - Registro" }) %>

    <body>
        <!-- Page content-->
        <section>
            <div class="container-fluid">
                <div id="pink-bg" class="row pink-bg align-items-center">
                    <div id="welcome" class="col-md-5 offset-md-1 text-center text-md-start welcome will_animate">
                        <h1>WELCOME!</h1>
                    </div>
                    <div id="welcomeBack" class="col-md-5 text-center text-md-end welcomeBack will_animate">
                        <h1>WELCOME <br>BACK!</h1>
                    </div>
                </div>
                <div id="forms" class="row forms-content align-items-center">
                    <div class="col-md-5 offset-md-1 text-center text-md-start">
                        <form id="login">
                            <div class="row log-in-content">
                                <div class="col-sm-12 form-group will_animate to-left">
                                    <input type="email" class="form-control" name="email-login" id="email-login"
                                        placeholder="Enter your email." required>
                                </div>
                                <div class="col-sm-12 form-group will_animate to-left">
                                    <input type="Password" name="password-login" class="form-control"
                                        id="password-login" placeholder="Enter your password." required>
                                </div>
                                <div class="col-sm-12 form-group invalid-feedback d-block  will_animate to-left">
                                    * No ingresaste un email valido
                                </div>
                                <div class="col-sm-12 form-group mb-0 will_animate to-left">
                                    <button id="submit-log-in" class="btn btn-primary float-right"
                                        name="submit-log-in">Submit</button>
                                </div>

                                <p id="signInLink" class="pt-3 will_animate to-left">Not Registered?
                                    <a href="#">Create
                                        an
                                        account</a>
                                </p>
                                <p id="reminderLinks" class="pt-3 will_animate to-left">
                                    <a href="#">
                                        Olvide mi contraseña
                                    </a> | <a href="/#products">
                                        Prefiero volver a la tienda
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                    <!-- -->
                    <div class="col-md-5 text-center text-md-end">

                        <form id="register" action="/users/create" method="POST" enctype="multipart/form-data">
                            <div class="row log-in-content">
                                <div class="col-sm-6 form-group will_animate to-right">
                                    <input type="text" class="form-control" name="firstName" id="name-f"
                                        placeholder="Apellido." required>
                                </div>
                                <div class="col-sm-6 form-group will_animate to-right">
                                    <input type="text" class="form-control" name="lastName" id="name-l"
                                        placeholder="Nombre." required>
                                </div>
                                <div class="col-sm-12 form-group will_animate to-right">
                                    <input type="email" name="email-register" class="form-control" id="email-register"
                                        placeholder="Correo Electronico." required>
                                </div>
                                <div class="col-sm-6 form-group will_animate to-right">
                                    <input type="Password" name="passwordRegister" class="form-control"
                                        id="passwordRegister" placeholder="Clave." required>
                                </div>
                                <div class="col-sm-6 form-group will_animate to-right">
                                    <input type="Password" name="cnf-password" class="form-control" id="pass2"
                                        placeholder="Confirmar la clave." required>
                                </div>
                                <div class="col-sm-12 form-group invalid-feedback d-block will_animate to-right">
                                    * Las contraseñas no corresponden
                                </div>
                                <div class="col-sm-12 form-group will_animate to-right">
                                    <label for="avatar" class="form-label custom-file-upload">Avatar:</label>
                                    <span id="avatar-file-name">Ningúna imagen seleccionada</span>
                                    <input class="form-control product-images" type="file"
                                        accept="image/png, image/jpeg, image/webp" id="avatar" name="avatar" required>
                                </div>
                                <div class="col-sm-12 form-group mb-0 will_animate to-right">
                                    <button id="submit-sign-in" class="btn btn-primary float-right"
                                        name="submit-register">Submit</button>
                                </div>
                                <p id="logInLink" class="pt-3 will_animate to-right">Already
                                    Registered? <a href="#">Log-In</a> <br><br> <a href="/#products">
                                        Prefiero volver a la tienda
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- SCRIPTS -->
        <%- include('../partials/scripts') %>
    </body>

</html>