<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { pageTitle: "Eikon | My profile" }) %>

    <body>
        <!-- HEADER-->
        <%- include('../partials/header') %>
            VIEW PROFILE
            <!-- FOOTER-->
            <%- include('../partials/footer') %>
                <!-- SCRPTS -->
                <%- include('../partials/scripts') %>
    </body>

</html>