<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { pageTitle: "Eikon | Create a Product" }) %>

    <body>
        <!-- HEADER-->

        <%- include('../partials/header') %>
            <!-- Page content-->
            <section id="product-detail">
                <div class="container">
                    <div class="row justify-content-center align-content-center">
                        <div class="col-12 col-md-6 text-center mb-3">
                            <h1 class="glow-white">CREAR UN NUEVO PRODUCTO</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center align-content-center">
                        <div class="col-12 col-md-6" id="product-create">
                            <form id="create-product">
                                <div class="row create-product-form">
                                    <div class="col-sm-12 form-group">
                                        <input type="text" class="form-control" name="product-title" id="product-title"
                                            placeholder="Titulo de la obra" required>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <textarea class="form-control" name="product-description"
                                            id="product-description" rows="3"
                                            placeholder="Descripción de la obra"></textarea>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <input type="number" min="0" name="product-price" class="form-control"
                                            id="product-price" placeholder="Precio ARS $" required>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <select id="product-category">
                                            <button>
                                                <selectedcontent></selectedcontent>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                                </svg>
                                            </button>
                                            <option disabled selected>
                                                <div class="text">
                                                    <h3>Categoría</h3>
                                                </div>
                                            </option>
                                            <option value="poster">
                                                <div class="text">
                                                    <h3>Poster</h3>
                                                </div>
                                            </option>
                                            <option value="photo">
                                                <div class="text">
                                                    <h3>Photo</h3>
                                                </div>
                                            </option>
                                            <option value="postcard">
                                                <div class="text">
                                                    <h3>Postcard</h3>
                                                </div>
                                            </option>
                                        </select>
                                    </div>
                                    <!---->
                                    <div class="col-sm-12 product-form-switch">
                                        <p>Espacio:</p>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="office" name="office">
                                            <label class="form-check-label" for="office">Aesthetics
                                                offices</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="home" name="home">
                                            <label class="form-check-label" for="home">Home Sweet Home</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="profesionals"
                                                name="profesionals">
                                            <label class="form-check-label" for="profesionals">Interioristas: Nuestra
                                                selección</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="museum" name="museum">
                                            <label class="form-check-label" for="museum">Serie Limitada</label>
                                        </div>
                                    </div>
                                    <!---->
                                    <!---->
                                    <div class="col-sm-12 product-form-switch">
                                        <p>Tema:</p>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="architecture"
                                                name="architecture">
                                            <label class="form-check-label" for="architecture">Architecture</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="animals" name="animals">
                                            <label class="form-check-label" for="animals">Animals</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="vintage" name="vintage">
                                            <label class="form-check-label" for="vintage">Vintage</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="bauhaus" name="bauhaus">
                                            <label class="form-check-label" for="bauhaus">Bauhaus</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="maps" name="maps">
                                            <label class="form-check-label" for="maps">Mapas</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="blueprints"
                                                name="blueprints">
                                            <label class="form-check-label" for="blueprints">Blueprints</label>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="col-sm-12 form-group">
                                        <label for="portada" class="form-label custom-file-upload">Imagen de portada de
                                            producto:</label>
                                        <span id="portada-file-name">Ningúna imagen seleccionada</span>
                                        <input class="form-control product-images" type="file"
                                            accept="image/png, image/jpeg, , image/webp" id="portada" name="portada">
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="lamina" class="form-label custom-file-upload">Imagen de lamina del
                                            producto:</label>
                                        <span id="lamina-file-name">Ningúna imagen seleccionada</span>
                                        <input class="form-control product-images" type="file"
                                            accept="image/png, image/jpeg, , image/webp" id="lamina" name="lamina">
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <button type="submit" aria-label="Eikon - Cargar producto"
                                            class="w-100 btn btn-sm eikon-btn" name="submit-create-product">
                                            CARGAR PRODUCTO
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FOOTER-->
            <%- include('../partials/footer') %>
                <!-- SCRPTS -->
                <%- include('../partials/scripts') %>
    </body>

</html>