<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { pageTitle: "{Product Name}" }) %>


    <body>
        <!-- HEADER-->
        <%- include('../partials/header') %>
            <!-- Page content-->
            <section id="product-detail">
                <div class="container">
                    <div class="row justify-content-between">
                        <div id="product-detail-image" class="col-12 col-md-4">
                            <div id="product-detail-carousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="image-wrapper">
                                            <img src="/images/products/archi-2-photo-slide.webp"
                                                class="product-detail-image d-block w-100" alt="..."
                                                data-bs-toggle="modal" data-bs-target="#product-detail-image-modal">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="image-wrapper">
                                            <img src="/images/products/archi-2-lamina-photo.webp"
                                                class="product-detail-image d-block w-100" alt="..."
                                                data-bs-toggle="modal" data-bs-target="#product-detail-image-modal">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#product-detail-carousel" data-bs-slide-to="0"
                                        class="active thumbnail" aria-current="true" aria-label="Slide 1">
                                        <img src="/images/products/archi-2-photo-slide.webp" class="thu" alt="...">
                                    </button>
                                    <button type="button" data-bs-target="#product-detail-carousel" data-bs-slide-to="1"
                                        class="thumbnail" aria-label="Slide 2">
                                        <img src="/images/products/archi-2-lamina-photo.webp" class="thu" alt="...">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="product-detail-desc" class="col-12 col-md-6">
                            <h3 class="title">Titulo</h3>
                            <h4 class="price">{price} $</h4>
                            <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                                sequi nesciunt.
                            </p>
                            <div class="row">
                                <div class="row align-items-center mb-3">
                                    <div class="col-12 col-md-2 justify-content-start">Cantidad:</div>
                                    <div class="col-12 col-md-10 justify-content-start">
                                        <div class="qty" aria-label="Quantity controls for Midnight Hoodie">
                                            <button type="button" id="qtyDec" class="counter-btn qtyDec"
                                                aria-label="Decrease quantity">
                                                -
                                            </button>
                                            <div id="qtyVal" class="qtyVal" aria-live="polite">1</div>
                                            <button type="button" id="qtyInc" class="counter-btn qtyInc"
                                                aria-label="Increase quantity">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-12 col-md-2 justify-content-start">Marco:</div>
                                    <div class="col-12 col-md-10 justify-content-start">
                                        <select id="customisable-select">
                                            <button>
                                                <selectedcontent></selectedcontent>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                                </svg>
                                            </button>
                                            <option value="no-frame" selected>
                                                <img src="/images/content/no-frame.webp" alt="No Frame">
                                                <div class="text">
                                                    <h3>No Frame</h3>
                                                    <p>Afiche solo</p>
                                                </div>
                                            </option>
                                            <option value="wood">
                                                <img src="/images/content/cadre-bois-naturel.webp" alt="Wood">
                                                <div class="text">
                                                    <h3>Wood</h3>
                                                    <p>Marco de madera Natural</p>
                                                </div>
                                            </option>
                                            <option value="white-frame">
                                                <img src="/images/content/cadre-bois-blanc.webp" alt="White">
                                                <div class="text">
                                                    <h3>White</h3>
                                                    <p>Marco de madera Natural pintada de Blanco</p>
                                                </div>
                                            </option>
                                            <option value="black-frame">
                                                <img src="/images/content/HfGUlmPublication.webp" alt="Black">
                                                <div class="text">
                                                    <h3>Black</h3>
                                                    <p>Marco de madera Natural pintada de Negro</p>
                                                </div>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button id="add-to-cart" class="w-100 mt-5 mb-4 btn btn-sm eikon-btn" type="submit">
                                        Agregar al Carrito <span>$</span><span>Total Price</span>
                                    </button>
                                    <div id="back-to-shop" class="text-center">
                                        <a href="/#products">
                                            Seguir comprando
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- FOOTER-->
            <%- include('../partials/footer') %>

                <!-- Modal -->
                <div class="modal fade" id="product-detail-image-modal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <img src="/images/products/archi-2-lamina-photo.webp" alt="Product title">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- SCRPTS -->
                <%- include('../partials/scripts') %>
    </body>

</html>