@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-ExtraBold.woff2') format('woff2'),
        url('ArgentumSans-ExtraBold.woff') format('woff'),
        url('ArgentumSans-ExtraBold.svg#ArgentumSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-Bold.woff2') format('woff2'),
        url('ArgentumSans-Bold.woff') format('woff'),
        url('ArgentumSans-Bold.svg#ArgentumSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-Black.woff2') format('woff2'),
        url('ArgentumSans-Black.woff') format('woff'),
        url('ArgentumSans-Black.svg#ArgentumSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-Thin.woff2') format('woff2'),
        url('ArgentumSans-Thin.woff') format('woff'),
        url('ArgentumSans-Thin.svg#ArgentumSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-Light.woff2') format('woff2'),
        url('ArgentumSans-Light.woff') format('woff'),
        url('ArgentumSans-Light.svg#ArgentumSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-SemiBold.woff2') format('woff2'),
        url('ArgentumSans-SemiBold.woff') format('woff'),
        url('ArgentumSans-SemiBold.svg#ArgentumSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-Regular.woff2') format('woff2'),
        url('ArgentumSans-Regular.woff') format('woff'),
        url('ArgentumSans-Regular.svg#ArgentumSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-Medium.woff2') format('woff2'),
        url('ArgentumSans-Medium.woff') format('woff'),
        url('ArgentumSans-Medium.svg#ArgentumSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argentum Sans';
    src: url('ArgentumSans-ExtraLight.woff2') format('woff2'),
        url('ArgentumSans-ExtraLight.woff') format('woff'),
        url('ArgentumSans-ExtraLight.svg#ArgentumSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

